.button
    height 50px
    width 230px
    margin-top 40px
    background #00bcd4
    display flex
    align-items center
    justify-content center
    color white
    border-radius 10px
    font-size 20px
    cursor pointer
    transition background 0.2s ease

.disabled
    background #d1d1d1