.form
    margin-top 30px

.label
    color #bdbdbd
    font-size 18px

.error
    color #e53935

.input
    font-size 18px
    padding-left 20px
    outline none
    border solid #bdbdbd 1px
    border-radius 5px
    margin-top 10px
    height 50px
    width 425px

    &::placeholder
        color #bdbdbd