.mainPage
    position: absolute;
    height 100%
    max-height 100%
    width 100%
    display flex
    flex-direction column

.logo
    min-height 89px
    padding-left 20px
    display flex
    align-items center
    font-size 50px
    color #00bcd4
    border-bottom 1px solid #e0e0e0

.content
    max-height calc(100% - 90px)
    display flex
    flex 2

.users
    width 360px
    padding 20px 20px 0 20px
    overflow overlay
    height calc(100% - 40px)

    .label
        margin-bottom 15px
        color #424242
        font-size 20px
        font-weight 600

.messages
    border-left 1px solid #e0e0e0
    flex 2
    max-height calc(100% - 20px)
    padding-top 20px
    display flex
    flex-direction column

    .container
        overflow overlay
        display flex
        flex-direction column
        padding  0 20px 0 20px
        margin-bottom 10px
        height calc(100% - 70px)

