.form
    margin-top 30px
    display flex
    flex-direction column
    align-items center

.label
    color #808080
    font-size 18px

.input
    font-size 18px
    padding-left 20px
    outline none
    border solid #e0e0e0 1px
    border-radius 5px
    margin-top 10px
    height 50px
    width 425px

    &:disabled
        color #bdbdbd
        background white

    &::placeholder
        color #bdbdbd
        font-size 300
        opacity 1

.button
    height 50px
    width 230px
    margin-top 40px
    background #00bcd4
    display flex
    align-items center
    justify-content center
    color white
    border-radius 10px
    font-size 20px
    cursor pointer
    transition background 0.2s ease

.buttonDisabled
    background #e0e0e0
    cursor default
