.form
    outline none
    height 60px
    border none
    border-top 1px solid #e0e0e0
    font-size 18px
    padding none
    padding-left 20px

    &:disabled
        color #bdbdbd
        background white

    &::placeholder
        color #bdbdbd
        font-size 300
        opacity 1