.authPage
    position: absolute;
    height 100%
    width 100%
    display flex
    flex-direction column
    align-items center

.logo
    font-size 100px
    color #00bcd4

.slogan
    font-weight 300
    font-size 30px
    margin-top 10px
    text-align center
    color #464646