.message
    display flex
    margin-top 15px

.photo
    display flex
    align-items center
    justify-content center
    color white
    border-radius 50%
    font-weight 600
    height 35px
    width 35px

.content
    margin-left 12px
    border 1px solid #e0e0e0
    border-radius 5px 16px 16px 16px
    padding 5px 12px 5px 12px
    max-width 60%
    overflow-wrap break-word

.nickname
    font-weight 600
    font-size 14px

.text
    color #424242
    font-size 18px

.notFirst
    &.message
        margin-top 4px

    .photo
        display none

    .content
        margin-left 47px

    .nickname
        display none

.my
    &.message
        flex-direction row-reverse

    .photo
        display none

    .content
        border none
        background #00bcd4
        border-radius 16px 5px 16px 16px

    .nickname
        display none

    .text
        color white
