.message
    display flex

.content
    margin-left 12px
    border 1px solid #e0e0e0
    border-radius 5px 16px 16px 16px
    padding 5px 12px 5px 12px
    max-width 60%
    overflow-wrap break-word

.nickname
    font-weight 600
    font-size 14px

.text
    color #424242
    font-size 18px